.mainSection {
    margin: 20px;
    padding: 20px;
    border: 1px solid gold;
    border-radius: 15px;
    max-width: 500px;

    ul {
        border: 1px solid black;
        border-radius: 5px;
        padding: 20px;

        li {
            border-bottom: 1px solid black;
            list-style-type: none;
            position: relative;
            padding: 5px 0;
            font-size: 20px;

            .taskText {
                width: 100%;
                display: block;
            }

            .removeBtn {
                min-width: 20px;
                min-height: 20px;
                border: 1px solid black;
                border-radius: 2px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0px;
                cursor: pointer;
            }
        }

        .taskDone {
            text-decoration: line-through;
        }
    }
}
